*
!*.c
!*.h
!includes/
!libraries/
!libraries/libft
!libraries/get_next_line
!maps/
!bonus/
!assets/
!assets/*
!assets/sprites/*
!parsing/
!textures/
!sprites/
!*.png
!*.cub
!Makefile
!README.md
!.git*
!bonus/parsing_bonus/
!bonus/textures_bonus/